{% extends "base/base.html" %}
{% block styles %}{% endblock %}
{% block title %}signup{% endblock %}

{% block content %}
    {% load static %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12 center-horizontal-vertical">
                <form id="signup_form" class="signup form-horizontal" method="POST" action="{% url 'signup' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <img src="{% static 'base/img/logo.jpeg' %}" class="text-center center-block"
                             width="100px" height="100px">
                        <h2 class="text-center logo-text">‌BeCute!</h2>
                    </div>
                    <div class="text-danger">
                                {{ form.username.errors }}
                                {{ form.password.errors }}
                                {{ form.email.errors }}
                                {{ form.first_name.errors }}
                                {{ form.last_name.errors }}
                                {{ form.type.errors }}
                                {{ form.about_me.errors }}
                                {{ form.gender.errors }}
                                {{ form.hair_type.errors }}
                                {{ form.age.errors }}
                                {{ form.residence_city.errors }}
                                {{ form.phone_customer.errors }}

                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-1">
                            <input type="text" id="id_username" name="username" placeholder="username" class="form-control">

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-1">
                            <input type="password" id="id_password" name="password" placeholder="password" class="form-control">

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-1">
                            <input type="email" id="id_email" name="email" placeholder="email" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-1">
                            <input type="text" id="id_first_name" name="first_name" placeholder="first name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-1">
                            <input type="text" id="id_last_name" name="last_name" placeholder="last name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-1">
                            <select id="id_type" name="type" class="form-control">
                                {% for k, v in form.fields.type.choices %}
                                    <option value="{{ v }}" {% ifequal forloop.counter 0 %}selected{% endifequal %}>{{ k }}</option>
                                {%  endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group hidden" id="about_me_box">
                        <div class="col-md-10 col-md-offset-1">
                            <input type="text" id="about_me_id" name="about_me" placeholder="about me" class="form-control">
                        </div>
                    </div>
                    <div class="form-group hidden" id="gender_box">
                        <div class="col-md-10 col-md-offset-1">
                            <select id="gender_id" name="gender" class="form-control">
                                {% for k, v in form.fields.gender.choices %}
                                    <option value="{{ v }}" {% ifequal forloop.counter 0 %}selected{% endifequal %}>{{ k }}</option>
                                {%  endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group hidden" id="age_box">
                        <div class="col-md-10 col-md-offset-1">
                            <input type="text" id="age_id" name="age" placeholder="age" class="form-control">
                            </div>
                    </div>
                    <div class="form-group hidden" id="residence_city_box">
                        <div class="col-md-10 col-md-offset-1">
                            <input type="text" id="residence_city_id" name="residence_city" placeholder="city of residence" class="form-control">
                            </div>
                    </div>
                    <div class="form-group hidden" id="hair_type_box">
                        <div class="col-md-10 col-md-offset-1">
                            <select id="hair_type_id" name="hair_type" class="form-control">
                                {% for k, v in form.fields.hair_type.choices %}
                                    <option value="{{ v }}" {% ifequal forloop.counter 0 %}selected{% endifequal %}>{{ k }}</option>
                                {%  endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group hidden" id="phone_customer_box">
                        <div class="col-md-10 col-md-offset-1">
                            <input type="text" id="phone_customer_id" name="phone_customer" placeholder="phone number" class="form-control">

                        </div>
                    </div>


                    <div class="form-group hidden" id="shop_name_box">
                        <div class="col-md-10 col-md-offset-1">
                            <input type="text" id="id_shop_name" name="shop_name" placeholder="shop name" class="form-control">
                            <div class="text-danger">
                                {{ form.shop_name.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group hidden" id="introduction_box">
                        <div class="col-md-10 col-md-offset-1">
                            <input type="text" id="id_introduction" name="introduction" placeholder="introduction" class="form-control">
                            <div class="text-danger">
                                {{ form.introduction.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group hidden" id="city_box">
                        <div class="col-md-10 col-md-offset-1">
                            <input type="text" id="id_city" name="city" placeholder="city" class="form-control">
                            <div class="text-danger">
                                {{ form.city.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group hidden" id="address_box">
                        <div class="col-md-10 col-md-offset-1">
                            <input type="text" id="id_address" name="address" placeholder="address" class="form-control">
                            <div class="text-danger">
                                {{ form.address.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group hidden" id="phone_box">
                        <div class="col-md-10 col-md-offset-1">
                            <input type="text" id="id_phone_box" name="phone" placeholder="phone" class="form-control">
                            <div class="text-danger">
                                {{ form.phone.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group hidden" id="foundation_year_box">
                        <div class="col-md-10 col-md-offset-1">
                            <input type="text" id="id_foundation_year" name="foundation_year" placeholder="foundation year" class="form-control">
                            <div class="text-danger">
                                {{ form.foundation_year.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-1">
                            <button id="id_signup_button" class="btn btn-primary center-block btn-block" type="submit">signup!
                            </button>
                        </div>
                    </div>
                    <p class="text-center">
                        <a href="{% url 'login' %}">Already have an account? Log In</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        let user_type = $('#id_type');
        let shop_name_box = $('#shop_name_box');
        let introduction_box = $('#introduction_box');
        let city_box = $('#city_box');
        let address_box = $('#address_box');
        let foundation_year_box = $('#foundation_year_box');
        let phone_box = $('#phone_box');

        let about_me_box = $('#about_me_box');
        let gender_box = $('#gender_box');
        let age_box = $('#age_box');
        let hair_type_box = $('#hair_type_box');
        let res_city_box = $('#residence_city_box');
        let phone_customer_box = $('#phone_customer_box');

        user_type.on('change', function () {
            if(user_type.val() === 'barber') {
                shop_name_box.removeClass('hidden');
                introduction_box.removeClass('hidden');
                city_box.removeClass('hidden');
                address_box.removeClass('hidden');
                foundation_year_box.removeClass('hidden');
                phone_box.removeClass('hidden');

                about_me_box.addClass('hidden');
                gender_box.addClass('hidden');
                age_box.addClass('hidden');
                hair_type_box.addClass('hidden');
                res_city_box.addClass('hidden');
                phone_customer_box.addClass('hidden');
            }
            else {
                shop_name_box.addClass('hidden');
                introduction_box.addClass('hidden');
                city_box.addClass('hidden');
                address_box.addClass('hidden');
                foundation_year_box.addClass('hidden');
                phone_box.addClass('hidden');

                about_me_box.removeClass('hidden');
                gender_box.removeClass('hidden');
                age_box.removeClass('hidden');
                hair_type_box.removeClass('hidden');
                res_city_box.removeClass('hidden');
                phone_customer_box.removeClass('hidden');
            }
        })
    </script>
{% endblock %}